<html>
{% load staticfiles %}
    <head>

    </head>

    <body>
        <div class="container">
            <h1> Halo, apa kabar? </h1>
            
            <form action="{% url 'appgege:table' %}" method="post">
            
            {% csrf_token %}
            <div>{{ form }}</div><br>           
            
            <button class="bt1" type="submit" value="submit">Submit</button>
            
            
        {% for tio in Table %}
        <p> {{tio.date}}</p>
        <p> {{tio.box}}</p>

        
        {% endfor %}
            
        
        
        
        
        </div>
    
    </body>



































</html>